
body {
    width: 100%;
}

#header {
    height: 30px;
}

#label {
    width: calc(100% / 3 - 14px);
    vertical-align: sub;
}

#secret {
    width: calc(100% / 3 - 14px);
    vertical-align: sub;
}

#add {
    width: calc(100% / 3 - 14px);
    vertical-align: sub;
}

#tokens {
    height: calc(100% - 60px);
}

#footer {
    height: 30px;
}

#import {
    width: calc(100% / 2 - 11px);
    vertical-align: sub;
}

#export {
    width: calc(100% / 2 - 11px);
    vertical-align: sub;
}