#label {
    width: calc(100% / 3 - 8px);
    vertical-align: sub;
}

#secret {
    width: calc(100% / 3 - 8px);
    vertical-align: sub;
}

#add {
    width: calc(100% / 3 - 8px);
    vertical-align: sub;
}

#tokens {
    height: calc(100% - 60px);
}

#import {
    width: calc(100% / 2 - 2px);
    vertical-align: sub;
}

#export {
    width: calc(100% / 2 - 2px);
    vertical-align: sub;
}

#picker {
    display: none;
}